.image {
    aspect-ratio: 2.17;
    object-fit: contain;
    object-position: center;
    width: 100%;
    margin-top: 71px;
  }
  
  @media (max-width: 991px) {
    .image {
      max-width: 100%;
      margin-top: 40px;
    }
  }