.logoGallery {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.81);
  box-shadow: 0 7px 4px rgba(0, 0, 0, 0.25);
  align-self: center;
  z-index: 10;
  display: flex;
  margin-top: -59px;
  width: 1216px;
  max-width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 38px 48px;
  margin-left: 107px;
  margin-top: 10px;
}

@media (max-width: 991px) {
  .logoGallery {
    padding: 0 20px;
  }
}

.logo {
  object-fit: contain;
  object-position: center;
  max-width: 100%;
}

.logo1 { width: 147px; aspect-ratio: 2.94; }
.logo2 { width: 50px; aspect-ratio: 1; }
.logo3 { width: 88px; aspect-ratio: 1.76; }
.logo4 { width: 143px; aspect-ratio: 2.86; }
.logo5 { width: 144px; aspect-ratio: 2.88; }
.logo6 { width: 148px; aspect-ratio: 2.96; }