.mainContent {
    position: relative;
    z-index: 10;
    margin-top: 20px;
    /* background-image: url("https://s3-alpha-sig.figma.com/img/047b/1ff6/b942cc95041f69a84cbd27c52d7c0bc7?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GoggCSYVjIbCtkRwbczsg5D2nHuXVuEkClSoa7jA0fvh3XSpGyR1QtBYTk8S-uaX43fKeQ99gszhQcNrlOky9DUZvHM2C0b98oiGd96PiAoiVJyo13qiVXd~s1MlZiOgxvLPdyJirPMSwowByilZp2gWE0NP2gpAfvVoyD5SCd4u5C2DGvaJaMFMVUk8L~auewvtyEP7gALz0wGY9DdbYeRQY8CP8X~o7sAgu3VmZYxeuWa13uxLfY67jjOgUxN7aEXYQWm5VDjLGNnDnKrkVR~n6jVroFRhqA1PTXmHiFvOfEA0GB02DxDGnGff8k15twoXFowEU6KDQa~ukfp5cQ__"); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  .image{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right;
  }
  
  .contentWrapper {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-top: -40px;
  }
  
  .descriptionSection {
    width: 60%;
  }
  
  .description {
    color: rgba(36, 35, 49, 1);
    text-align: center;
    align-self: end;
    width: 820px;
    font: 400 25px/39px Nunito, -apple-system, Roboto, Helvetica, sans-serif;
    margin-left: 264px;
    /* margin-bottom: 150px; */
  }
  
  .programsContainer {
    margin-top: 39px;
    width: 755px;
    max-width: 100%;
  }
  
  .featuredImage {
    aspect-ratio: 1.2;
    object-fit: contain;
    object-position: center;
    width: 35%;
    border-radius: 0;
    margin-top: 40px;
    margin-right: 10px;
    flex-grow: 1;
  }
  
  @media (max-width: 991px) {
    .mainContent {
      max-width: 100%;
    }
  
    .contentWrapper {
      flex-direction: column;
    }
  
    .descriptionSection {
      width: 100%;
    }
  
    .description {
      max-width: 100%;
  
    }
  
    .featuredImage {
      width: 100%;
      max-width: 100%;
      margin-top: 40px;
    }
  }