.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    object-fit: cover;
    object-position: center;
    font-family: cursive !important;
 
  }
  
  
  @media only screen and (max-width: 600px) {
    
  }