.templateSection {
    /* width: 100%; */
    max-width:1900px;
    background-color: #fff;
    border-radius: 60%;
    z-index: 10;
    margin-top: -102px;
    font-size: 36px;
    padding: 54px 70px 9px;
  }
 .templateh2{
    margin-left: 200px;
    width:70%;
    text-align: center;
  }
  
  @media (max-width: 991px) {
    .templateSection {
      max-width: 100%;
      padding: 0 20px;
    }
  }