.visionText {
    background-color: #fff;
    border-radius: 0px 0px 50% 50%;
    z-index: 11;
    margin-top: 12px;
    color: #000;
    white-space: nowrap;
    /* padding: 28px 70px 89px; */
    font-family: cursive;
    font-size: 36px;
    text-align: center;
    margin-bottom: -100px;
    /* border: 1px solid black; */
    padding: 50px 50px 16px;
  }
  
  @media only screen and (max-width: 600px) {
    .visionText {
      background-color: #fff;
      border-radius: 0px 0px 50% 50%;
      z-index: 11;
      margin-top: 4px;
      color: #000;
      white-space: nowrap;
      font: 400 15px Poppins, sans-serif;
      text-align: center;
      margin-bottom: -70px;
      padding: 20px 6px 16px;
    }
  }