.featureSection {
    z-index: 10;
    margin-top: 50px;
  }
  
  .featureGrid {
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */
  }
  
  @media (max-width: 991px) {
    .featureSection {
      max-width: 100%;
      margin-right: 10px;
    }
  
    .featureGrid {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }