.featureSection {
    z-index: 10;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .featureGrid {
    display: flex;
    gap: 20px;
  }
  
  @media only screen and (max-width: 600px){
    .featureSection {
      z-index: 10;
      margin-top: 50px;
    }
    
    .featureGrid {
      display: flex;
   
    }
  }