.visionText {
    background-color: #fff;
    border-radius: 50%;
    z-index: 10;
    margin-top: 12px;
    color: #000;
    white-space: nowrap;
    padding: 28px 70px 89px;
    font: 400 36px Poppins, sans-serif;
    text-align: center;
    /* margin-bottom: -80px; */
    /* padding: 54px 70px 9px; */
  }
  
  @media (max-width: 991px) {
    .visionText {
      max-width: 100%;
      white-space: initial;
      padding: 0 20px;
    }
  }