.waitlistButton {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.86);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  padding-left: 25px;
  gap: 10px;
  color: rgba(25, 29, 32, 1);
  width: 34%;
  font: 700 18px Nunito;
  font-family: cursive;
  margin-left: 604px;
  }
  
  .buttonText {
    flex-grow: 1;
    margin: auto 0;
  }
  
  .buttonIcon {
    aspect-ratio: 0.98;
    object-fit: contain;
    object-position: center;
    width: 56px;
    border-radius: 50%;
    margin-left: 5px;
    border: 1px solid black;
  }
  
  @media only screen and (max-width: 600px) {
    .waitlistButton {
      border-radius: 30px;
      background-color: rgba(255, 255, 255, 0.86);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      padding-left: 13px;
      gap: 10px;
      color: rgba(25, 29, 32, 1);
      width: 60%;
      font: 400 10px Nunito, sans-serif;
      justify-content: center;
      margin-left: 134px;
    }
    
    .buttonText {
      margin: auto 0;
    }
    
    .buttonIcon {
      width: 22px;
      border-radius: 50%;
      margin-left: -11px;
      border: 1px solid black;
    }
  }