.container {
  align-self: center;
  margin-top: 78px;
  width: 90%;
  margin: 80px auto 20px 42px;
  font-family: 'Times New Roman', Times, serif;
}
.stepsWrapper1 {
  gap: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,1fr);  

}

.stepsWrapper2 {
  gap: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3,1fr);  
margin-top: 40px;
}
.stepColumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 80%;
  align-items: center;
  margin-left: 40px;

}
.stepIconWrapper {
  background-color: #fff;
  box-shadow: 10px 16px 47px rgba(184, 191, 203, 0.47);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
max-width:185px;
 height: 145px;
  padding: 0 37px;
}
.stepIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 70px;
}

.stepTitle {
  color: #000;
  text-align: center;
  margin-top: 30px;
  font: 500 20px 'Times New Roman', Times, serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media only screen and (max-width: 600px){
  .container {
    width: 100%;
    margin:0px;
  }
  .stepsWrapper1 {
    gap: 0px;
    display: grid;
    margin-top: 16px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);  
    justify-items: center;
  }
  
  .stepsWrapper2 {
    gap: 15px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);  
  margin-top: 5px;
  justify-items: center;
  }
  .stepColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 75%;
    height: 80px;
    align-items: center;
    margin-left: 0px;
  
  }
  .stepIconWrapper {
    background-color: #fff;
    box-shadow: 10px 16px 47px rgba(184, 191, 203, 0.47);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 21px;
    padding: 0px
  }
  .stepIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
  }
  
  .stepTitle {
    color: #000;
    text-align: center;
    margin-top: 16px;
    font: 500 6px 'Times New Roman', Times, serif;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}