/* .header {
    display: flex;
    margin-top: 30px;
    width: 100%;
    flex-direction: column;
    padding: 0 80px;
  } */
  
  .logoContainer {

    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.81);
    box-shadow: 0 7px 4px rgba(0, 0, 0, 0.25);
    align-self: center;
    z-index: 10;
    display: flex;
    margin-top: 30px;
    width: 1216px;
    max-width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 38px 48px; */
    margin-left: 100px;
  }
  

  .logo1 { width: 147px; aspect-ratio: 2.94; }
  .logo2 { width: 50px; aspect-ratio: 1; }
  .logo3 { width: 88px; aspect-ratio: 1.76; }
  .logo4 { width: 143px; aspect-ratio: 2.86; }
  .logo5 { width: 144px; aspect-ratio: 2.88; }
  .logo6 { width: 148px; aspect-ratio: 2.96; }
  .logo7 { width: 100px; aspect-ratio: 2.5; }
  .logo8 { width: 100px; aspect-ratio: 2.5; }
  .logo9 { width: 100px; aspect-ratio: 2.5; }
  /* .logo10 { width: 70px; aspect-ratio: 2.5; } */
  .logo11{ width: 70px; aspect-ratio: 2.5; }
  .logo12 { width: 100px; aspect-ratio: 2.5; }
  .logo13 { width: 100px; aspect-ratio: 2.5; }
  .logo14 { width: 100px; aspect-ratio: 2.5; }

  .logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin: auto; */
  }

  @media (max-width: 991px) {
    .header {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .logoContainer {
      padding: 0 20px;
    }
  }