.categoryButton {
    border-radius: 42px;
    background-color: #fff;
    color: #313643;
    font: 600 16px Poppins, sans-serif;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .categoryButton.active {
    background-color: #5169f6;
    color: #fff;
  }
  
  .categoryButton:hover {
    background-color: #e0e0e0;
  }
  
  .categoryButton.active:hover {
    background-color: #4058e5;
  }
  
  @media only screen and (max-width: 600px){
    .categoryButton {
      border-radius: 42px;
      background-color: #fff;
      color: #313643;
      font: 400 8px Poppins, sans-serif;
      padding: 2px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
    }
    
    .categoryButton.active {
      background-color: #5169f6;
      color: #fff;
    }
    
    .categoryButton:hover {
      background-color: #e0e0e0;
    }
    
    .categoryButton.active:hover {
      background-color: #4058e5;
    }
  }