.eventsSection {
    background-color: #f0f2ff;
    padding:15px;
    width: 101%;
    margin-top: 8px;
    font-family: cursive
  }
  
  .sectionTitle {
    color: #313643;
    font: 500 32px Poppins, sans-serif;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .pastEventsTitle {
    /* color: #313643; */
    font: 500 32px Poppins, sans-serif;
    text-align: center;
    /* margin-bottom: 30px; */
    color: #02081f;
    font-weight: 700;
    margin-top: 18px;
  }
  
  .categoryButtons {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
  }
  
  .eventGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
  }
  
  @media only screen and (max-width: 600px){
    .eventsSection {
      background-color: #f0f2ff;
      padding: 0px;
      width: 101%;
      margin-top: 8px;
    }
    
    .sectionTitle {
      color: #313643;
      font: 500 20px Poppins, sans-serif;
      text-align: center;
      margin-bottom: 0px;
    }
    
    .pastEventsTitle {
      font: 400 12px Poppins, sans-serif;
      text-align: center;
      color: #02081f;
      font-weight: 700;
      margin-top: 11px;
      margin-bottom: 5px;
      padding-top: 7px;
    }
    
    .categoryButtons {
      display: flex;
      justify-content: center;
      gap: 2px;
      margin-bottom: 5px;
    }
    
    .eventGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2px;
      width: 100%;
      margin: 0px;
    }
  }