.statsSection {
    background-color: #101114;
    padding: 56px 64px;
    border-radius: 25px;
    margin-top: -87px;
    z-index: 10;
  }
  
  .statsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  @media (max-width: 991px) {
    .statsSection {
      margin-top: -200px;
      padding: 40px 20px;
    }
  
    .statsGrid {
      grid-template-columns: 1fr;
    }
  }