.networkSection {
  border-radius: 30px;
  background-color: rgba(245, 241, 253, 1);
  margin: 58px 23px 0 68px;
  width: 75%;
  font-family: 'Times New Roman', Times, serif;
  padding: 0 6px;
  display: flex;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    color: rgba(2, 8, 23, 1);
    font-size: 24px;
    width: 54%;
  }
  
  .title {
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    font-weight: 500;
  }
  
  .highlight {
    color: rgba(81, 105, 246, 1);
  }
  
  .description {
    margin-top: 20px;
  }
  
  .imageWrapper {
    position: relative;
    height: 54px;
    width: 34%;
    padding: 273px 80px 17px;
  }
  
  .backgroundImage {
    position: absolute;
    inset: 0;
    height: 119%;
    width: 100%;
    object-fit: contain;
  }
  
  .profileImage {
    width: 152px;
    border-radius: 92px;
    position: relative;
    z-index: 1;
    float: inline-end;
    margin-top: -42px;
    margin-right: 24px;
  }
  @media only screen and (max-width: 600px){
    .networkSection {
      border-radius: 30px;
      background-color: rgba(245, 241, 253, 1);
      margin-top: 36px;
      padding: 5px;
      display: flex;
      height: 140px;
      width: 90.5%;
      margin-left: 15px;
    }
    
    .content {
      display: flex;
      flex-direction: column;
      color: rgba(2, 8, 23, 1);
      font: 400 'Times New Roman', Times, serif;
      width: 54%;
    }
    
    .title {
      color: rgba(0, 0, 0, 1);
      font-size: 12px;
      font-weight: 500;
    }
    
    .highlight {
      color: rgba(81, 105, 246, 1);
    }
    
    .description {
      margin-top:0px;
      font-size: 8px;
    }
    
    .imageWrapper {
      position: relative;
     height: 54px;
      width: 46%;
      padding: 0px;
    }
    
    .backgroundImage {
      position: absolute;
      inset: 0;
      height: 146px;
      width: 95%;
      object-fit: cover;
    }
    
    .profileImage {
      width: 60px;
      border-radius: 92px;
      position: relative;
      z-index: 1;
      float: inline-end;
      margin-top: 84px;
      margin-right: 14px;
    }
  }