.card {
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    width: 100%;
  }
  
  .icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    /* margin-left: -15px; */
    width: 100px;
    max-width: 100%;
  }
  
  .content {
    display: flex;
    padding-left: 60px;
    flex-direction: column;
    align-items: flex-start;
  }
  

  
  .title {
    color: #19083d;
    font-size: 64px;
    font-weight: 600;
    margin: 0px;
  }
  

  
  .description {
    color: #7c8898;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
  }
  

  
  .decorativeIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100px;
    align-self: flex-end;
    margin-top: 47px;
    max-width: 100%;
  }
  
  @media only screen and (max-width: 600px){
    .card {
      display: flex;
      flex-direction: column;
      font-family: Inter, sans-serif;
      width: 100%;
    }
    .icon {
      width: 30px;
    }
    .content {
      display: flex;
      padding: 5px 10px 5px 20px;
      flex-direction: column;
      align-items: flex-start;
    }
    .title {
      color: #19083d;
      font-size: 12px;
      font-weight: 600;
    }
    .description {
      color: #7c8898;
      font-size: 8px;
      font-weight: 400;
      margin-top: 20px;
    }
    .decorativeIcon {
   
      width: 30px;
      align-self: flex-end;
      margin-top: 8px;
    }
  }