.container {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .row {
    display: flex;
    width: 82.4%;
    margin-left: 134px;
    border: 14.8px solid #7465c9
  }
    .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0;
  }
    .columnRight {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    /* margin-left: 20px; */
  }
  .sectionTitle {
    color: #313643;
    text-align: center;
    align-self: center;
    margin-top: 50px;
    font: 500 32px 'Times New Roman', Times, serif;
  }

  @media only screen and (max-width: 600px){
    .container {
      display: flex;
      flex-direction: column;
    }
    
    .row {
      display: flex;
      width: 90%;
      margin-left: 0px;
      border: 14.8px solid #7465c9;
      height: 150px;
    }
      .column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      height:150px;
      width: 50%;
      margin-left: 0;
    }
      .columnRight {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 50%;
    }
    .sectionTitle {
      color: #313643;
      text-align: center;
      align-self: center;
      margin-top: 50px;
      font: 500 20px 'Times New Roman', Times, serif;
    }
  }