.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 75px;
    margin-top: 131px;
  }
  
  @media (max-width: 991px) {
    .container {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  
  .highlight {
    border-radius: 27px;
    background-color: #fff;
    margin-left: 15px;
    color: #5169f6;
    padding: 10px 25px;
    font: 600 20px Nunito, sans-serif;
    border: 1px solid #5169f6;
  }
  
  @media (max-width: 991px) {
    .highlight {
      margin-left: 10px;
      padding: 0 20px;
    }
  }
  
  .statistic {
    color: #5169f6;
    margin: 10px 0 0 15px;
    font: 600 64px Nunito, sans-serif;
  }
  
  @media (max-width: 991px) {
    .statistic {
      margin-left: 10px;
      font-size: 40px;
    }
  }
  
  .description {
    color: #000;
    margin: 49px 0 0 15px;
    font: 600 24px Nunito, sans-serif;
  }
  
  @media (max-width: 991px) {
    .description {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .imageWrapper {
    background-color: #7465c9;
    align-self: stretch;
    display: flex;
    margin-top: 21px;
    width: 100%;
    flex-direction: column;
    padding: 18px 15px;
  }
  
  @media (max-width: 991px) {
    .imageWrapper {
      max-width: 100%;
    }
  }
  
  .image {
    aspect-ratio: 1.85;
    object-fit: contain;
    object-position: center;
    width: 100%;
  }
  
  @media (max-width: 991px) {
    .image {
      max-width: 100%;
    }
  }