.projectCard {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e0e1e6;
    padding: 25px 21px;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
  }
  
  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .badge {
    border-radius: 3px;
    padding: 7px 11px;
    font-size: 9px;
    font-weight: 600;
  }
  
  .easy {
    background-color: #d2f5d2;
    color: #73817a;
  }
  
  .medium {
    background-color:#feefc6;
    color: #8f897d;
  }
  
  .duration {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 8px;
    color: #819387;
    background-color: #d2f5d2;
    border-radius: 9px;
    padding: 5px 12px;
  }
  
  .icon {
    width: 12px;
    height: 12px;
  }
  
  .projectTitle {
    color: #5e6168;
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .skillsSection {
    margin-bottom: 15px;
  }
  
  .skillsHeading {
    color: #b3b6c1;
    font-size: 8px;
    margin-bottom: 7px;
  }
  
  .skillsList {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .skill {
    background-color: #f1f1f4;
    border-radius: 12px;
    padding: 8px 10px;
    font-size: 8px;
    color: #868790;
  }
  
  .projectImage {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .cardFooter {
    margin-top: auto;
  }
  
  .completions {
    color: #96979f;
    font-size: 11px;
  }
  
  @media only screen and (max-width: 600px)
  {
    .projectCard {
      background-color: #fff;
      border-radius: 10px;
      border: 1px solid #e0e1e6;
      padding: 5px;
      display: flex;
      flex-direction: column;
      width: 95%;
      gap:3px;
      height: 145px;
    }
    
    .cardHeader {
      display: flex;
      margin-bottom: 1px;
    }
    
    .badge {
      border-radius: 5px;
      padding: 5px;
      font-size: 8px;
      font-weight: 400;
      margin-top: 2px;
    }
    
    .easy {
      background-color: #d2f5d2;
      color: #73817a;
      width: 15px;
      margin-left: 2px;
      font-size: 6px;
    
    }
    
    .medium {
      background-color:#feefc6;
      color: #8f897d;
      width: 25px;
      font-size: 6px;
      margin-left: 2px;
    }
    
    .duration {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 8px;
      color: #819387;
      background-color: #d2f5d2;
      border-radius: 10px;
      margin-top: 2px;
      padding: 0px;
      margin-right: 2px;
    }
    
    .icon {
      width: 10px;
      height: 10px;
    }
    
    .projectTitle {
      color: #5e6168;
      font-size: 7px;
      margin-bottom: 5px;
      margin-left: 5px;
    }
    
    .skillsSection {
      margin-bottom: 0px;
    }
    
    .skillsHeading {
      color: #b3b6c1;
      font-size: 4px;
      margin-bottom: 5px;
    }
    
    .skillsList {
      display: flex;
      gap: 2px;
    }
    
    .skill {
      background-color: #f1f1f4;
      border-radius: 12px;
      padding: 0px;
      font-size: 5px;
      color: #868790;
    }
    

    
    .cardFooter {
      margin-top: 0px;
    }
    
    .completions {
      color: #96979f;
      font-size: 5px;
      margin-bottom: 5px;
    } 
  }