.featureCardsContainer {
    align-self: center;
    margin-top: 43px;
    width: 80%;
  }
  

  
  .featureCardsGrid {
    gap: 80px;
    display: flex;
    margin-top: -20px;
  }
  

  
  .featureCardWrapper {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0;
  }
  

  
  .featureCardWrapper:not(:first-child) {
    margin-left: 20px;
  }
  
  @media only screen and (max-width: 600px){
    .featureCardsContainer {
      align-self: center;
      margin-top: 43px;
      width: 1260px;
      max-width: 100%;
    }
    
  
    
    .featureCardsGrid {
      gap: 80px;
      display: flex;
      margin-top: -20px;
    }
    
  
    
    .featureCardWrapper {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 0;
    }
    
  
    
    .featureCardWrapper:not(:first-child) {
      margin-left: 20px;
    }
  }