.featureCard {
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 28px; 
    font: 16px/28px Poppins, sans-serif;
    border: 1px solid #d9d9d9;
  }
  
  @media (max-width: 991px) {
    .featureCard {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  
  .icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 60px;
  }
  
  .title {
    color: #000;
    font-weight: 700;
    margin-top: 30px;
  }
  
  .description {
    color: #61636b;
    font-weight: 500;
    align-self: stretch;
    margin-top: 15px;
  }