.container {
  background-color: #efefef;
  display: flex;
  margin-top: 49px;
  flex-direction: column;
  align-items: center;
  padding: 27px 53px 76px;
  font-family: cursive
}
.content {
  display: flex;
  width:90%;
  max-width: 100%;
  flex-direction: column;
}

.title {
  color: #000;
  text-align: center;
  align-self: center;
  margin-left: 33px;
  width: 58%;
  margin-bottom: -45px;
  font: 500 40px Poppins, sans-serif;
}

.cardContainer {
  margin-top: 37px;
  display: flex;
}
.cardGrid {
  width: 100%;
}
.card {
  border-radius: 0 40px 0 40px;
  box-shadow: #2b59ff 10px 10px;
  font: 500 16px/25px Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  margin: 10px;
  padding: 135px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card p {
  width: 657%;
  margin-top: -13px;
  margin-left: -115px;
}
.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipCardFront {
  background-color: #fff;
  color: black;
}

.flipCardBack {
  background-color: #fff;
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
}

.backContent {
  position: absolute;
  top: -95px;
  text-align: center;
}


@media only screen and (max-width: 600px){
  .container {
    background-color: #efefef;
    display: flex;
    margin-top: 2px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  .content {
    display: flex;
    width: 95%;
    margin-left: -15px;
  }
  
  .title {
    color: #000;
    text-align: center;
    align-self: center;
    margin-left: 0px;
    width: 89%;
    margin-bottom: 0px;
    font: 500 13px Poppins, sans-serif;
  }
  
  .cardContainer {
    margin-top: 10px;
    display: flex;
    gap: 16px;
  }
  .cardGrid {
    width: 30%;
    height: 256px;
    padding: 0px;
  }
  .card {
    border-radius: 0 40px 0 40px;
    box-shadow: #2b59ff 10px 10px;
    font: 499 7px cursive;
    margin: 2px;
    padding: 0px;
    width: 111%;
    height: 137px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
  .card p {
    font-size: 7px;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }
  .flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .card:hover .flipCardInner {
    transform: rotateY(180deg);
  }
  
  .flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flipCardFront {
    background-color: #fff;
    color: black;
    margin-top: 52px; 
  }
  
  .flipCardBack {
    background-color: #fff;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
  }
  
  .backContent {
    position: absolute;
    top: 20px;
    text-align: center;
  }
}