.learnSection {
    border-radius: 30px;
    background-color: rgba(240, 242, 255, 1);
    margin-top: 41px;
    width: 92.5%;
    max-width: 1140px;
    padding: 0 31px;
    display: flex;
    font-family: cursive;
    gap: 20px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    color: rgba(2, 8, 23, 1);
    font: 400 24px Poppins, sans-serif;
    width: 66%;
  }
  
  .title {
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    font-weight: 500;
  }
  
  .highlight {
    color: rgba(81, 105, 246, 1);
  }
  
  .description {
    margin-top: 20px;
  }
  
  .imageContainer {
    border-radius: 24px 24px 24px 0;
    background-color: rgba(178, 221, 255, 1);
    width: 304px;
    height: 412px;
    margin: -32px auto 0;
  }
  
  @media only screen and (max-width: 600px){
    .learnSection {
      border-radius: 30px;
      background-color: rgba(240, 242, 255, 1);
      margin-top: 0px;
      width: 92.5%;
      padding: 0px;
      display: flex;
      margin-bottom: 5px;
      height:140px;
      gap: 0px;
    }
    
    .content {
      display: flex;
      flex-direction: column;
      color: rgba(2, 8, 23, 1);
      font: 400 Poppins, sans-serif;
      width: 66%;
      padding-left: 8px;
    }
    
    .title {
      color: rgba(0, 0, 0, 1);
      font-size: 12px;
      font-weight: 500;
    }
    
    .highlight {
      color: rgba(81, 105, 246, 1);
    }
    
    .description {
      margin-top:0px;
      font-size: 11px;
    }
    
    .imageContainer {
      border-radius: 24px 24px 24px 0;
      background-color: rgba(178, 221, 255, 1);
      width: 150px;
      height: 140px;
      margin: 0;
    }
  }