.eligibilityCriteria {
    margin: 83px 31px 0;
    font-family: cursive
  }
  .criteriaList {
    gap: 20px;
    display: flex;
    margin-left: 10px;
  }

  .criteriaItem {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0;
  }

  .criteriaContent {
    display: flex;
    flex-grow: 1;
    text-align: center;
  }
  
  .criteriaWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  
  .criteriaNumber {
    display: flex;
    width: 154px;
    max-width: 100%;
    flex-direction: column;
    color: var(--White---100, #fafafa);
    white-space: nowrap;
    padding: 0 2px;
    font: 500 18px/1 Inter, sans-serif;
  }
  .criteriaIcon {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    padding: -1px 0 53px 30px;
  }
  .iconNumber {
    stroke-width: 3px;
    border-radius: 50%;
    align-self: end;
    width: 12px;
    height: 14px;
    padding: 16px 15px;
    border: 3px solid #fff;
  }
  .iconImage {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 44px;
    align-self: center;
  }
  
  .criteriaDescription {
    margin-top: 32px;
    max-width: 100%;
    width: 212px;
    color: var(--Black---100, #12141d);
    font: 400 20px Poppins, sans-serif;
  }
  
  .criteriaArrow {
    aspect-ratio: 10.1;
    object-fit: contain;
    object-position: center;
    width: 141px;
    align-self: start;
    margin-left: -157px;
    margin-top: -18px;
    max-width: 100%;
  }
  .blue {
    background-color: var(--Blue---100, #2b59ff);
    fill: var(--Blue---100, #2b59ff);
  }
  
  .purple {
    background-color: #6f4be5;
  }
  
  .black {
    background-color: #12141d;
  }
  
  .lightPurple {
    background-color: #ccb2fd;
  }

  @media only screen and (max-width: 600px){
    .eligibilityCriteria {
      margin: -591px 31px 0;
    }
    .criteriaList {
      display: flex;
    }
  
    .criteriaItem {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 48%;
      margin-left: 0;
    }
  
    .criteriaContent {
      display: flex;
      flex-grow: 1;
      text-align: center;
    }
    
    .criteriaWrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    
    .criteriaNumber {
      display: flex;
      width: 35%;
      flex-direction: column;
      color: var(--White---100, #fafafa);
      white-space: nowrap;
      padding: 0 2px;
      font: 500 4px Inter, sans-serif;
    }
    .criteriaIcon {
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      width: 8%;
      height: 3px;
      padding: 0px 0 41px 37px;
    }
    .iconNumber {
      stroke-width: 0px;
      border-radius: 50%;
      align-self: end;
      width: 12px;
      font-size: 7px;
      height: 5px;
      padding: 6px 2px;
      border: 3px solid #fff;
    }
    .iconImage {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 16px;
      margin-left: -23px;
      align-self: flex-start;
    }
    
    .criteriaDescription {
      margin-top: 13px;
      max-width: 100%;
      width: 50px;
      color: var(--Black---100, #12141d);
      font: 400 7px Poppins, sans-serif;
    }
    
    .criteriaArrow {
      aspect-ratio: 10.1;
      object-fit: contain;
      object-position: center;
      width: 77%;
      margin-left: -110px;
      margin-top: -18px;
    }
    .blue {
      background-color: var(--Blue---100, #2b59ff);
      fill: var(--Blue---100, #2b59ff);
    }
    
    .purple {
      background-color: #6f4be5;
    }
    
    .black {
      background-color: #12141d;
    }
    
    .lightPurple {
      background-color: #ccb2fd;
    }
  }