.eCommerceLayout {
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    margin-left: 125px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .productGrid {
    margin-top: 50px;
    width: 630px;
    max-width: 100%;
    display: flex;
    gap: 20px;
  }
  
  @media only screen and (max-width: 600px){
    .eCommerceLayout {
      background-color: #fff;
      display: flex;
      width: 100%;
      flex-direction: column;
      overflow: hidden;
      margin-left:0px;
    }
    
    .productGrid {
      margin-top: 50px;
      width: 630px;
      max-width: 100%;
      display: flex;
      gap: 20px;
    }
  }