.productCard {
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-grow: 1;
    padding-bottom: 29px;
    flex-direction: column;
    font-family: DM Sans, sans-serif;
    font-weight: 500;
    width: 100%;
    margin-bottom: 5px;
    font-family: cursive
  }
  
  .productImage {
    aspect-ratio: 1.77;
    object-fit: contain;
    width: 100%;
    border-radius: 25px 25px 0 0;
  }
  
  .productInfo {
    display: flex;
    margin-left: 15px;
    width: 147px;
    max-width: 100%;
    flex-direction: column;
    align-items: start;
  }
  
  .authorInfo {
    align-self: stretch;
    display: flex;
    align-items: start;
    gap: 10px;
    font-size: 14px;
    color: #8f9bba;
    letter-spacing: -0.28px;
    line-height: 1;
  }
  
  .authorAvatar {
    aspect-ratio: 1;
    object-fit: contain;
    width: 30px;
    border-radius: 50%;
  }
  
  .authorName {
    display: flex;
    margin-top: 5px;
    flex-grow: 1;
  }
  
  .verifiedIcon {
    aspect-ratio: 1;
    object-fit: contain;
    width: 16px;
    align-self: start;
    margin-top: 11px;
  }
  
  .productTitle {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.32px;
    margin-top: 8px;
  }
  
  .productDescription {
    color: #535353;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.28px;
    margin-top: 10px;
  }
  
  .productRating {
    align-self: stretch;
    display: flex;
    margin-top: 5px;
    align-items: center;
    gap: 9px;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    text-align: right;
    letter-spacing: -0.24px;
    line-height: 32px;
  }
  
  .starIcon {
    aspect-ratio: 1.07;
    object-fit: contain;
    width: 15px;
    border-radius: 1px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .ratingValue {
    color: #000;
  }
  
  .productPrice {
    color: #43d477;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.4px;
    margin-top: 15px;
  }
  
  @media only screen and (max-width: 600px){
    .productCard {
      border-radius: 25px;
      background-color: #fff;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-grow: 1;
      padding-bottom: 29px;
      flex-direction: column;
      font-family: DM Sans, sans-serif;
      font-weight: 500;
      width: 100%;
      margin-bottom: 5px;
    }
    
    .productImage {
      aspect-ratio: 1.77;
      object-fit: contain;
      width: 100%;
      border-radius: 25px 25px 0 0;
    }
    
    .productInfo {
      display: flex;
      margin-left: 15px;
      width: 147px;
      max-width: 100%;
      flex-direction: column;
      align-items: start;
    }
    
    .authorInfo {
      align-self: stretch;
      display: flex;
      align-items: start;
      gap: 10px;
      font-size: 14px;
      color: #8f9bba;
      letter-spacing: -0.28px;
      line-height: 1;
    }
    
    .authorAvatar {
      aspect-ratio: 1;
      object-fit: contain;
      width: 30px;
      border-radius: 50%;
    }
    
    .authorName {
      display: flex;
      margin-top: 5px;
      flex-grow: 1;
    }
    
    .verifiedIcon {
      aspect-ratio: 1;
      object-fit: contain;
      width: 16px;
      align-self: start;
      margin-top: 11px;
    }
    
    .productTitle {
      color: #000;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: -0.32px;
      margin-top: 8px;
    }
    
    .productDescription {
      color: #535353;
      font-size: 14px;
      line-height: 1;
      letter-spacing: -0.28px;
      margin-top: 10px;
    }
    
    .productRating {
      align-self: stretch;
      display: flex;
      margin-top: 5px;
      align-items: center;
      gap: 9px;
      font-size: 12px;
      color: #fff;
      font-weight: 400;
      white-space: nowrap;
      text-align: right;
      letter-spacing: -0.24px;
      line-height: 32px;
    }
    
    .starIcon {
      aspect-ratio: 1.07;
      object-fit: contain;
      width: 15px;
      border-radius: 1px;
      align-self: stretch;
      margin: auto 0;
    }
    
    .ratingValue {
      color: #000;
    }
    
    .productPrice {
      color: #43d477;
      font-size: 20px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: -0.4px;
      margin-top: 15px;
    }
  }