.container {
    background-color: #160828;
    align-self: center;
    display: flex;
    margin-top: 34px;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    max-width: 100%;
    flex-direction: column;
    padding: 72px 0 22px;
  }
  
  .logo {
    aspect-ratio: 14.49;
    object-fit: contain;
    object-position: center;
    width: 87px;
    align-self: flex-end;
    margin-right: 154px;
  }
  .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 26px;
  }
  .innerContent {
    width: 889px;
    max-width: 100%;
  }
  
  .twoColumnLayout {
    gap: 20px;
    display: flex;
  }
  .leftColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 23%;
    margin-left: 0;
  }
  .imageStack {
    display: flex;
    margin-top: 8px;
    flex-direction: column;
  }

  .rightColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 77%;
    margin-left: 20px;
  }

  .signUpContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
  }

  .signUpHeading {
    font-size: 40px;
    align-self: stretch;
    z-index: 10;
  }
  .maskGroup {
    display: flex;
    margin-top: -71px;
    width: 116px;
    height: 87px;
  }
  
  .submitButton {
    border-radius: 10px;
    background-color: #2b59ff;
    width: 344px;
    max-width: 100%;
    font-size: 20px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    color: #ffffff;
  }
  .bottomSection {
    align-self: flex-end;
    display: flex;
    width: 1176px;
    max-width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  @media only screen and (max-width: 600px){
    .container {
      background-color: #160828;
      display: flex;
      width: 100%;
      margin: auto;
      flex-direction: column;
      padding:0px;
    }
    
    .logo {
      aspect-ratio: 11.49;
      object-fit: contain;
      object-position: center;
      width: 28px;
      align-self: flex-end;
      margin-right: 0px;
    }
    .content {
      display: flex;
      width: 99%;
      flex-direction: column;
      padding: 0px;
    }
    .innerContent {
      width: 100%;
    }
    
    .twoColumnLayout {
      gap: 0px;
      display: flex;
    }
    .leftColumn {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 23%;
      margin-left: 0;
    }
    .imageStack {
      display: flex;
      margin-top: 8px;
      flex-direction: column;
    }
  
    .rightColumn {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 277%;
      margin-left: 0px;
    }
  
    .signUpContent {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: center;
      font-family: 'Times New Roman', Times, serif;
      color: #ffffff;
      font-weight: 500;
      text-align: center;
    }
  
    .signUpHeading {
      font-size: 16px;
      align-self: stretch;
      z-index: 10;
    }
    .maskGroup {
      display: flex;
      margin-top: -70px;
      width: 72px;
      height: 87px;
    }
    
    .submitButton {
      border-radius: 10px;
      background-color: #2b59ff;
      width: 38%;
      font-size: 8px;
      padding: 10px 2px;
      border: none;
      cursor: pointer;
      color: #ffffff;
    }
    .bottomSection {
      align-self: flex-end;
      display: flex;
      width: 1176px;
      max-width: 100%;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  }